.contacts {
  .center(320px);
  padding-top: 41px;
  padding-bottom: 39px;

  &__wrapper {
    .container(260px; 30px);
    margin: 0 auto;
  }

  &__title {
    .pm-zero();
    .font(18px; 700; 30px);
    margin-bottom: 29px;
    margin-left: -2px;
  }

  &__list {
    margin-bottom: 37px;
  }

  &__email {
    display: flex;
    .pm-zero();
    margin-bottom: 30px;
    & {
      a {
        margin-left: 30px;
        padding-bottom: 2px;
        color: @link-color;
        border-bottom: 1px solid #62d1ba;

        &:hover,
        &:focus {
          color: #46c1ae;
          border-color: #46c1ae;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }
  }

  &__address {
    display: flex;
    .pm-zero();
    line-height: 30px;
    & {
      span {
        width: 141px;
        margin-left: 30px;
      }
    }
  }

  &__map {
    position: relative;
    display: block;
    width: 320px;
    height: 457px;
    margin-bottom: 39px;

    &::after {
      content: "";

      position: absolute;
      top: 145px;
      left: 138px;

      width: 67px;
      height: 100px;
      .bg-img("../../img/icon-map-pin.svg");
    }
  }

  &__img {
    width: 320px;
    height: 457px;
  }

  &__button-feedback {
    display: block;
    box-sizing: border-box;
    .button();
    padding: 14px 0;
    .center(260px);

    &:hover,
    &:focus {
      background-color: #444444;
      color: rgba(255, 255, 255, 1);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: @table-width) {
  .contacts {
    .center(@table-width);
    padding-top: 65px;
    padding-bottom: 58px;

    &__wrapper {
      .container(668px; 50px);
    }

    &__title {
      margin-bottom: 50px;
    }

    &__list {
      display: flex;
      margin-bottom: 60px;
    }

    &__email {
      width: 334px;
    }

    &__address {
      width: 334px;
    }

    &__map {
      width: @table-width;
      height: 457px;
      margin-bottom: 55px;
    }

    &__img {
      width: @table-width;
      height: 457px;
    }

    &__button-feedback {
      .center(230px);
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    .container(1050px; 50px);
    display: flex;
    padding-bottom: 105px;

    &__wrapper {
      .pm-zero();
      width: 350px;
      padding-left: 175px;
    }

    &__list {
      flex-direction: column;
    }

    &__map {
      width: 525px;
      height: 457px;
      margin: 0;
    }

    &__img {
      width: 525px;
      height: 457px;
    }

    &__button-feedback {
      position: absolute;
      left: 225px;
      bottom: 105px;
      order: -1;
      margin: 0;
    }
  }
}
