.copyright {
  position: relative;
  display: flex;
  .center(185px);

  &__text {
    .font(19px; 700; 18px);
    padding-top: 27px;
    padding-bottom: 31px;
  }

  &__logo {
    position: absolute;
    top: 22px;
    right: 2px;

    width: 27px;
    height: 34px;

    &:hover,
    &:focus {
      path {
        fill: @icon-color;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @table-width) {
  .copyright {
    margin: 0;
  }
}
