.field-tel {
  display: flex;
  flex-direction: column;

  &__field {
    margin-bottom: 30px;
  }

  &__legend {
    margin-bottom: 25px;
  }
}

@media (min-width: @table-width) {
  .field-tel {
    background-color: @bg-block;
    flex-direction: row;

    &__legend {
      .m-top();
      margin-bottom: 0;
    }

    &__field {
      height: 50px; /*Временно*/
      width: 500px;
      margin-top: 45px;
      margin-left: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .field-tel {
    &__legend {
      .m-left();
    }

    &__field {
      width: 700px;
      margin-right: 175px;
    }
  }
}
