.field-info {
  display: flex;
  flex-direction: column;

  &__legend {
    margin-bottom: 24px;
  }

  &__field {
    box-sizing: border-box;
    .pm-zero();
    height: 142px;
    width: 260px;
    padding-top: 14px;
    padding-left: 14px;
    margin-bottom: 16px;
    .font(17px; 400; 18px);
    border: 2px solid #444444;

    &::placeholder {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &__field:hover {
    border-color: #63d1bb;
  }

  &__field:active,
  &__field:focus {
    border-color: #63d1bb;

    &::placeholder {
      color: rgba(0, 0, 0, 1);
    }
  }
}

@media (min-width: @table-width) {
  .field-info {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 37px;

    &__field {
      width: 501px;
      height: 142px;
      margin-left: auto;
      font-size: 19px;
    }
  }
}

@media (min-width: @desktop-width) {
  .field-info {
    &__legend {
      .m-left();
    }

    &__field {
      width: 700px;
      margin-right: 175px;

    }
  }
}
