.form {
  .container(260px; 30px);
  margin: 0 auto;

  &__fieldset {
    .pm-zero();
    border: none;
  }

  &__legend {
    .font(17px; 700; 16px);
    color: @legend-color;
  }

  &__list {
    .pm-zero();
    padding-top: 42px;
    list-style: none;
  }

  &__label {
    .font(17px; 700; 18px);
  }

  &__notice {
    .pm-zero();
    margin-bottom: 30px;
  }

  &__button {
    width: 260px;
    height: 52px; /*временно*/
    margin-bottom: 55px;
  }
}
