.form {
  .container(260px; 30px);
  margin: 0 auto;

  &__fieldset {
    .pm-zero();
    border: none;
  }

  &__legend {
    .font(17px; 700; 16px);
    color: @legend-color;
  }

  &__list {
    .pm-zero();
    padding-top: 42px;
    list-style: none;
  }

  &__label {
    .font(17px; 700; 18px);
  }

  &__notice {
    .pm-zero();
    margin-bottom: 30px;
  }

  &__button {
    width: 260px;
    height: 52px; /*временно*/
    margin-bottom: 55px;
  }
}

@media (min-width: @table-width) {
  .form {
    position: relative;
    .center(768px);
    padding: 0;

    &__fieldset-wrapper {
      .container(668px; 50px);
      display: flex;
    }

    &__list {
      width: 500px;
      margin-left: auto;
    }

    &__notice {
      position: absolute;
      right: 0;
      bottom: 70px;
      width: 300px;
      margin-bottom: 0;
    }

    &__button {
      width: 230px;
      margin-left: 50px;
      margin-bottom: 50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form {
    .center(1150px);

    &__fieldset-wrapper {
      width: 1050px;
    }

    &__list {
      width: 735px;
      margin-right: 140px;
    }

    &__notice {
      right: 225px;
    }

    &__button {
      margin-left: 225px;
    }
  }
}
