.page-main-order {
  &__title {
    .pm-zero();
    background-color: @bg-block;
  }

  span {
    display: block;
    height: 175px; /*временно для сетки*/
    .container(260px; 30px);
    margin: 0 auto;
    .font(27px; 700; 30px);
  }

  &__description {
    .container(260px; 30px);
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 25px;
    font-size: 13px;
  }
}
