.page-main-order {
  &__title {
    .pm-zero();
    padding-top: 73px;
    padding-bottom: 73px;
    .font(27px; 700; 30px);
    background-color: #f1f1f1;
  }

  &__description {
    .pm-zero();
    padding-top: 28px;
    padding-bottom: 25px;
    font-size: 13px;
  }
}
