.page-footer {
  background-color: @bg-block-dark;

  &__wrapper {
    .container(260px; 30px);
    margin: 0 auto;
  }

  &__logo {
    display: none;
  }
}

@media (min-width: @table-width) {
  .page-footer {
    &__wrapper {
      position: relative;
      display: flex;
      align-items: center;
      .container(668px; 50px);
    }

    &__logo {
      display: block;
      position: relative;
      left: 0;

      width: 102px;
      height: 34px;

      padding-top: 51px;
      padding-bottom: 57px;
      fill: @icon-color;
    }

    &__logo:hover,
    &__logo:focus {
      fill: @link-contrast;
      cursor: pointer;
    }

    &__logo:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    &__wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: 1050px;
      height: 142px;
    }
  }
}
