.production {
  .container(260px; 30px);
  margin: 0 auto;
  margin-bottom: 58px;

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(229, 229, 229, 1);
    .center(260px);

    &::before {
      content: "";

      position: absolute;

      top: 132px;
      left: 80px;
      z-index: 1;

      width: 101px;
      height: 77px;
      .bg-img("../../img/icon-play.svg");
    }
  }

  &__title {
    position: relative;
    width: 130px;
    .pm-zero();
    margin-left: auto;
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 23px;
    padding-left: 60px;
    .font(17px; 700; 24px);

    &::before {
      content: "";

      position: absolute;

      top: 29px;
      left: 5px;

      width: 32px;
      height: 32px;
      .bg-img("../../img/icon-video.svg");
    }
  }

  &__video {
    position: relative;
    left: -1px;
  }

  &__description {
    .pm-zero();
    padding-top: 21px;
    padding-right: 42px;
    padding-bottom: 25px;
    padding-left: 33px;
    font-size: 13px;
  }

  &__order {
    display: block;
    .button(193px);
    margin: 0 auto;
    margin-bottom: 32px;

    &:hover,
    &:focus {
      background-color: #444444;
      color: rgba(255, 255, 255, 1);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: @table-width) {
  .production {
    .container(668px; 50px);
    display: flex;
    flex-direction: column;

    &__video {
      width: 668px;
      height: 455px;
      order: -2;
    }

    &__title {
      order: -1;
      margin-left: 42px;
      margin-right: 42px;
      padding-left: 65px;
    }

    &__description {
      margin-left: 42px;
      margin-right: 42px;
    }

    &__order {
      width: 584px;
    }
  }
}

@media (min-width: @desktop-width) {
  .production {
    position: relative;
    width: 1050px;
    padding-bottom: 60px;
    align-items: flex-end;

    &__video {
      position: absolute;
      top: 0;
      left: 50px;
      width: 683px;
    }

    &__title {
      width: 290px;
      .pm-zero();
      margin-top: 40px;
      height: 105px; /*временно*/
    }

    &__description {
      width: 290px;
      height: 116px; /*временно*/
      padding-bottom: 50px;
      margin: 0;
    }

    &__order {
      width: 230px;
      margin: 0;
      margin-right: 60px;
    }
  }
}
