.production {
  &__title {
    .pm-zero();
    padding-top: 25px;
    padding-bottom: 25px;
    .font(17px; 700; 24px);
  }

  &__description {
    .pm-zero();
    padding-top: 34px;
    padding-bottom: 28px;
    font-size: 13px;
  }

  &__order {
    margin-bottom: 28px;
  }
}
