.product-week {
  padding-top: 30px;
  padding-bottom: 35px;

  &__title {
    .pm-zero();
    .font(17px; 700; 20px);
    color: #63d1bb;
  }

  &__title-product {
    .pm-zero();
    .font(25px; 700; 30px);
  }

  &__description {
    .pm-zero();
  }

  &__price {
    .pm-zero();
    .font(17px; 700; 24px);
  }
}
