.product-list {
  .pm-zero();

  &__item {
    list-style: none;
  }

  &__item--interior {
    background-color: #63d1bb;
  }

  &__item--toy {
    background-color: #56c3b2;
  }

  &__title {
    .pm-zero();
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    .font(19px; 700; 24px);
    color: #ffffff;
  }
}
