.social {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 142px;
    .pm-zero();
    padding-left: 56px;
    padding-right: 61px;
    padding-top: 25px;
    padding-bottom: 23px;
    list-style: none;
    box-shadow: inset 0 -1px 0 0 @header-shadow;
  }

  &__icon {
    fill: @icon-color;
  }

  &__icon--instagram {
    margin-top: 3px;
    margin-left: 1px;
  }

  &__icon--facebook {
    margin-top: -1px;
    margin-left: 1px;
  }

  &__icon--twitter {
    margin-top: 2px;
  }

  &__icon:hover,
  &__icon:focus {
    fill: @link-contrast;
  }

  &__icon:active {
    opacity: 0.3;
  }
}

@media (min-width: @table-width) {
  .social {
    margin-left: auto;

    &__list {
      padding-top: 30px;
      padding-right: 83px;
      box-shadow: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .social {
    margin-left: 0;

    &__list {
      margin-left: 350px;
      margin-right: 274px;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
