.social {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 141px;
    .pm-zero();
    padding-left: 56px;
    padding-right: 61px;
    padding-top: 25px;
    padding-bottom: 22px;
    list-style: none;
    box-shadow: inset 0px -1px 0px 0px rgba(229, 229, 229, 1);
  }

  &__icon:hover,
  &__icon:focus {
    path {
      fill: @icon-color;
    }
  }

  &__icon:active {
    opacity: 0.3;
  }
}

@media (min-width: @table-width) {
  .social {
    margin-left: auto;

    &__list {
      padding-right: 84px;
      box-shadow: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .social {
    margin-left: 0;

    &__list {
      padding-right: 0;
      padding-left: 0;
      margin-left: 350px;
      margin-right: 274px;
    }
  }
}
